dist: xenial
language: node_js
  - "node"
  # ^ use latest version of NodeJS

# Unless we specify "sudo: false", build runs in VM, not container

# Limit the number of commits it will clone
git:
  depth: 3

# Only do CI for the default branch
branches:
  only:
  - latestRelease

before_install:
  - export PATH=$HOME/bin:$PATH
  # ^ Include the folder that will store the "dhall-to-json" binary on PATH

install:
  - wget -O $HOME/dhall-json.tar.gz https://github.com/dhall-lang/dhall-haskell/releases/download/1.21.0/dhall-json-1.2.7-x86_64-linux.tar.bz2
  # ^ Download the Dhall-to-JSON archive
  - mkdir $HOME/dhall-json
  # ^ Make directory, so that next command works (directory must already exist)
  - tar --extract --bzip2 --file $HOME/dhall-json.tar.gz -C $HOME/dhall-json/
  # ^ Extract the contents into this directory
  - mv $HOME/dhall-json/bin/dhall-to-json $HOME/bin/
  # ^ dhall-json comes with two binaries, but we only need 'dhall-to-json'
  # Move that binary into $HOME/bin/ so that it is on the PATH
  - npm i -g purescript@0.12.5 spago parcel
  # ^ Use NPM to install packages

# Print version numbers
before_script:
  - chmod +x .travis/print-versions.sh
  - ./.travis/print-versions.sh

script:
  - spago build
  # ^ Install and compile dependencies and source code
  # before bundling and building it
  - spago docs
  # ^ Ensure that `spago docs` command will exit successfully
  - chmod +x .travis/bundle-and-build.sh
  - ./.travis/bundle-and-build.sh

cache:
  directories:
    - .spago
